.swiper img{
    width: 1000px;
    height: 260px;
}
.aa{
    width: 1000px;
    height: 480px;
    background-color: #ffffff;
}
.bb{
    text-align: center;
    font-size: 24px;
    height: 100px;
    line-height: 100px;
}
.cc{
    width: 900px;
    height: 310px;
    border: 3px solid pink;
    border-radius: 10px;
    margin: 0 auto;
}
.dd img{
    width: 400px;
    height: 270px;
    margin: 20px 20px;
    float: left;
}
.ee{
    width: 450px;
    height: 290px;
    float: left;
}
.ff{
    font-size: 20px;
    line-height: 70px;
}
.gg{
    text-indent: 2em;
    letter-spacing: 2px;
    line-height: 26px;
}
.hh{
    font-size: 18px;
    line-height: 50px;
}
.ll{
    font-size: 18px;
}
.jj{
    font-size: 28px;
    line-height: 90px;
}
.hh span,.ll span,.jj span{
    color: red;
}
.footer{
    width: 100%;
    height: 60px;
    line-height: 30px;
    text-align: center;
    background-color: pink;
}